form {
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form__label {
  display: block;
  margin-bottom: 8px;
}

.form__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.form__button {
  background-color: #ffd700;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #e5bb00;
}

fieldset h2 {
  text-align: center;
}

.invalid{
  border-color: red;
}

/* Estilo para los mensajes de error */
.form__input:valid {
  border-color: green; /* Cambia el borde del campo a rojo cuando no sigue el patrón */
}

/* Estilos para la barra de progreso */
.barra {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  background: #ffd700;
}

/* Estilos para el valor de la barra de progreso */
.barra::-webkit-progress-value {
  background: #ffd700; /* Color de fondo del progreso */
}

/* Estilos para la barra de progreso cuando está incompleta */
.barra::-webkit-progress-bar {
  background: #f0f0f0; /* Color de fondo de la barra de progreso */
}
